lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += javax.validation.constraints.NotNull
lombok.copyableAnnotations += io.leangen.graphql.annotations.GraphQLIgnore
lombok.copyableAnnotations += io.leangen.graphql.annotations.GraphQLNonNull
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonIgnore
